@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@section Scripts {

    <script>
        var a =
        {
            "name": "蜘蛛人",
            "age": 18,
            "powers":
                ["超級力量", "超級耐力", "超級的反射神經", "蜘蛛感應"]
        };


        console.log(a);
        console.log(JSON.stringify(a));


    </script>
}